html{
  --primaryBackgroundColor: rgb(255, 235, 205);
  --sunmoonBackgroundPicture: url("/src/icons/sunmoon-day.svg");
  --primaryTextColor: black;
  --divBackgroundColor:rgb(247, 243, 237);
  --videoCallDivBackgroundColor: rgb(247, 243, 237);
}
html.dark{
  --primaryBackgroundColor: #1d2d50;
  --sunmoonBackgroundPicture: url("/src/icons/sunmoon-night.svg");
  --primaryTextColor: #110F06;
  --divBackgroundColor:#ececec;
  --videoCallDivBackgroundColor:#ececec;
}
body{
  font: Degular Demo;
  background-color: 	var(--primaryBackgroundColor);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.App {
  text-align: center;
  min-height: 100vh;
}
.App-container{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 4fr 1fr;
  grid-template-areas: "sidebar content content content" "footer footer footer footer";

}
#sidebar{
  /*background-color: cadetblue;*/
  grid-area: sidebar;
  justify-self: center;
  padding-bottom: 20px;
}
#content{
  /*background-color: rgb(74, 122, 124);*/
  grid-area: content;
}
#footer{
  grid-area: footer;
  height: 100px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.thing{
  color: #ca5fffd5;
  color: rgb(240, 202, 152);
}