html{
  --primaryBackgroundColor: rgb(255, 235, 205);
  --sunmoonBackgroundPicture: url("icons/sunmoon-day.svg");
}
html.dark{
  --primaryBackgroundColor: rgb(33, 33, 91);
  --sunmoonBackgroundPicture: url("icons/sunmoon-night.svg");
}
body{
  font: Degular Demo;
  background-color: 	var(--primaryBackgroundColor);
}
.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
div#box{
  border: 3px solid #000;
  background: 	rgb(247, 243, 237);
}

.App-header {
  margin: 8px 12px 8px 12px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: black;
}
.header-nav-link{
  margin: 8px 12px 8px 12px;
  padding: 0px 4px;
}
.video-box{
  height: 500px;
  margin: 64px 76px 20px 164px;
  display: flex;
}
.App-link {
  color: #61dafb;
}
#sunmoon.day{
  background-image: var(--sunmoonBackgroundPicture);
}

@media only screen and (max-width: 600px){
#sunmoon{
    background-size: cover;
    margin-top: calc(-0.2 * calc(10vh + 48px));
    margin-right: calc(-1 * 24px);
    right: 0;
}
#friend{
  background-size: cover;
  margin-top: calc(-0.2 * calc(10vh + 48px));
  margin-right: calc(-1 * 24px);
  right: 0;
}
}
#sunmoon {
  width: 225px;
  height: 225px;
  position: absolute;
  bottom: -64px;
  right: -64px;
  margin-top: calc(2 * 48px - 0.5 * calc(10vh + 48px));
  /*margin-right: calc(2.5 * 64px);*/
  border-radius: 50%;
  overflow: hidden;
}

#sunmoon-face {
  width: 88px;
  height: 30px;
  background-image: url("icons/smiley.svg");
  position: absolute;
  top: 25%;
  left: 19%;
}
#friend {
  background-image: url("icons/purple-friend.svg");
  width: 225px;
  height: 225px;
  position: absolute;
  bottom: 400px;
  right: 852px;
  margin-top: calc(2 * 48px - 0.5 * calc(10vh + 48px));
  border-radius: 50%;
  overflow: hidden;
  z-index: -1;
}
#friend-face {
  width: 88px;
  height: 30px;
  background-image: url("icons/smiley.svg");
  position: absolute;
  top: 12%;
  left: 30%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.switch-darkmode{
  float: left;
  -webkit-appearance: none;
  outline: none;
  width: 44px;
  height: 22px;
  background-color: #85b6ff;
  position: relative;
  border-radius: 34px;
  transition: background-color .90s;
}
.switch-darkmode:before{
  content: "";
  width: 22px;
  height: 22px;
  /*background-color: gold;*/
  background-image: url("icons/sunmoon-day-clean.svg");
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  top: 0px;
  transition: all 0.9s;
  box-shadow: 1px 1px 5px 0px rgb(179, 179, 179)
}
.switch-darkmode:checked{
  background-color: rgb(24, 24, 94);
}

.switch-darkmode:checked:before{
  transform: translate(100%);
  background-image: url("icons/sunmoon-night.svg");
}
.thing{
  color: #ca5fff;
}